*{
font-family: "JetBrainsMono Nerd Font";

font-weight: bold;
min-height: 0;
/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
font-size: 98%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background: transparent;
	border-radius: 5px;
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

tooltip {
	color: @textcolor1;
    background: @backgrounddark;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: @bordercolor;
}

tooltip label {
    color: @textcolor1;
    padding-right: 2px;
    padding-left: 2px;
}

/*-----module groups----*/
.modules-right,
.modules-left {
	border-radius: 15px 15px 15px 15px;
	background-color: @backgrounddark;
    opacity:0.8;
    padding-right: 5px;
    padding-left: 10px;
}

.modules-center {
	background: transparent;
    font-size: 16;
    opacity:1;
}

#taskbar button,
#workspaces button {
    color: @textcolor1;
    background-color: @workspacesbackground2; /* #0384fc */
    padding: 0px 5px;
    margin:4px 1px;
    border-radius: 10px;
    opacity:0.3;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
    
}

#taskbar button.active,
#workspaces button.active {
    color: @textcolor1;
    border-radius: 10px;
    background-color: @backgroundlight;
    padding: 0px 5px;
    margin:4px 1px;
    min-width: 40px;
    background-size: 400% 400%;
    opacity:0.8;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    color: @textcolor1;
}

#workspaces button.urgent {
    color: #11111b;
    border-radius: 10px;
}

#taskbar button:hover,
#workspaces button:hover {
    color: @textcolor1;
    border-radius: 10px;
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#disk,
#memory,
#cpu,
#language,
#battery,
#backlight,
#backlight-slider,
#bbattery,
#bluetooth,
#clock,
#idle_inhibitor,
#keyboard-state,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#cava,
#window,
#wireplumber,
#workspaces,
#custom-system,
#custom-tools,
#custom-cliphist,
#custom-hypridle,
#custom-backlight,
#custom-browser,
#custom-cava,
#custom-cycle_wall,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-power,
#custom-power_vertical,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay 
#pulseaudio.microphone,
#custom-notification {
    color: @textcolor1;
    border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin-left: 2px;     
    margin-right: 2px;    
}

#custom-exit {
    color: @textcolor1;
    border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin-left: 0px;     
    margin-right: 6px;    
}

#custom-separator {
    color: @textcolor1;
}

#custom-appmenuicon {
    font-size: 16px;
    color: @textcolor2;
    background-color: @backgroundlight;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 7px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-width: 30px;
    border-radius: 999px;
    opacity:1;
}

#temperature.critical {
    background-color: #ff0000;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}
